@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";
@import url('//fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

#logo {
  font-family: 'Jost', sans-serif;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
padding-left: 3px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

#add-stock {
  color: rgb(40, 180, 0);
  text-decoration: none;
  padding-left: 10px;
}

#add-stock:hover {
  color: green;
}

#delete-stock {
  color: rgb(253, 100, 100);
  text-decoration: none;
}

#delete-stock:hover {
  color: red;
}